.cover {
  display: flex;
  box-sizing: border-box;
  padding-top: 92px;
  justify-content: center;
}

@media (max-width: 768px) {
  .cover {
    padding-top: 90px;
  }
}

@media (max-width: 320px) {
  .cover {
    padding-top: 66px;
  }
}
